In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("birlesmis_accel_phone.txt")

In [3]:
df.head()

   Subject_id Activity_label       Time_stamp         x          y         z
0        1600              A  252207666810782 -0.364761   8.793503  1.055084
1        1600              A  252207717164786 -0.879730   9.768784  1.016998
2        1600              A  252207767518790  2.001495  11.109070  2.619156
3        1600              A  252207817872794  0.450623  12.651642  0.184555
4        1600              A  252207868226798 -2.164352  13.928436 -4.422485

In [4]:
df['x']=((df['x']-df['x'].min())/(df['x'].max()-df['x'].min()))  
df['y']=((df['y']-df['y'].min())/(df['y'].max()-df['y'].min()))   
df['z']=((df['z']-df['z'].min())/(df['z'].max()-df['z'].min()))

In [5]:
df.to_csv("birlesmis_accel_s_phone.txt", index=False)

In [6]:
new_df=pd.read_csv("birlesmis_accel_s_phone.txt")

In [7]:
new_df.head()

   Subject_id Activity_label       Time_stamp         x         y         z
0        1600              A  252207666810782  0.497676  0.610760  0.538987
1        1600              A  252207717164786  0.494395  0.617586  0.538729
2        1600              A  252207767518790  0.512752  0.626966  0.549587
3        1600              A  252207817872794  0.502871  0.637761  0.533088
4        1600              A  252207868226798  0.486210  0.646697  0.501866

In [8]:
low=0.01
high=0.99
new_df.quantile([low,high])

      Subject_id    Time_stamp         x         y         z
0.01      1600.0  1.302010e+12  0.432145  0.428962  0.466511
0.99      1650.0  1.818517e+15  0.577262  0.642974  0.599016

In [9]:
qdf=new_df.quantile([low,high])

In [10]:
new_df.isnull().sum()

Subject_id        0
Activity_label    0
Time_stamp        0
x                 0
y                 0
z                 0
dtype: int64

In [11]:
new_df.x=new_df.x.apply(lambda v: v if qdf.x[low]< v < qdf.x[high] else np.nan)

In [12]:
new_df.y=new_df.y.apply(lambda v: v if qdf.y[low]< v < qdf.y[high] else np.nan)

In [13]:
new_df.z=new_df.z.apply(lambda v: v if qdf.z[low]< v < qdf.z[high] else np.nan)

In [14]:
new_df.isnull().sum()

Subject_id            0
Activity_label        0
Time_stamp            0
x                 96095
y                 96090
z                 96244
dtype: int64

In [15]:
new_df.dropna(inplace=True)

In [16]:
new_df.isnull().sum()

Subject_id        0
Activity_label    0
Time_stamp        0
x                 0
y                 0
z                 0
dtype: int64

In [19]:
X = np.array(new_df.drop(['Activity_label'],axis=1))
y = np.array(new_df['Activity_label'])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0,test_size=0.2)

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
classifier = RandomForestClassifier(n_estimators=20, random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [23]:
"""rfc_X=RandomForestClassifier()
X_train=rfc_X.fit_transform(X_train)
X_test=rfc_X.transform(X_test)"""

'rfc_X=RandomForestClassifier()\nX_train=rfc_X.fit_transform(X_train)\nX_test=rfc_X.transform(X_test)'

In [24]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [25]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test, y_pred))

[[46340   228    70     0     0     1     6     1     2     1     5     0
     63    54    17     0     0     3]
 [  462 34151    39     3     2     1    13     5     3    10     2    10
    128   124    69     0     3    12]
 [  106   168 45603     6     0     4    12     6     3     3     7     2
     73    38    33     0     2    11]
 [    5    43    31 51327    18     7     1     1     2     5     8     7
      4     4     8     3     7    12]
 [   18    39    58     9 54018     7     5     0     1     0     0     0
      5     1     1     2     7    33]
 [    2    13     5     4     3 48736     4     1     0     3     2     0
      0     3     1     3     2     5]
 [   11    27    18     1     5     4 53423     4     7     0     4     2
      3     5     0     1    11    10]
 [    7    21     9     0     2     0     1 52802     5     9     5     6
      4     1     0     1     3     1]
 [    8    14    20     3     2     3    10     8 52029     6    10    10
      3     1     3     4     2    17]
 [   12    17    11     0     0     1     4     9     6 49025     6    11
      2     1     0     1     2     7]
 [    9    15     5     3     0     1     4    14     9     5 55166    14
      3     1     3     1     7    22]
 [    4    14     9     3     1     2     6    10     6    12     3 52998
      8     1     4     4     7    17]
 [   99   364    56     3     2     1    12     5     1     3     2     1
  51289    70    67     0     1     7]
 [   53   167    19     0     2     1    12     5    11     7     6     7
    279 52258    86     2     4     6]
 [   36   171    31     4     1     0     8     6     6     4     3     6
    222   231 51221     0     5    10]
 [    5    21     8     9     4    14     3     2     3     1     3     0
      1     2     2 50818     9    18]
 [    4    18     8     5     5     8     6     3     5     6     3    10
      4     5     6     6 53067    32]
 [   25    22   122     4     6     9     8     9     9     5    29     1
      7    11     7     6    21 52367]]
              precision    recall  f1-score   support

           A       0.98      0.99      0.99     46791
           B       0.96      0.97      0.97     35037
           C       0.99      0.99      0.99     46077
           D       1.00      1.00      1.00     51493
           E       1.00      1.00      1.00     54204
           F       1.00      1.00      1.00     48787
           G       1.00      1.00      1.00     53536
           H       1.00      1.00      1.00     52877
           I       1.00      1.00      1.00     52153
           J       1.00      1.00      1.00     49115
           K       1.00      1.00      1.00     55282
           L       1.00      1.00      1.00     53109
           M       0.98      0.99      0.99     51983
           O       0.99      0.99      0.99     52925
           P       0.99      0.99      0.99     51965
           Q       1.00      1.00      1.00     50923
           R       1.00      1.00      1.00     53201
           S       1.00      0.99      1.00     52668

    accuracy                           0.99    912126
   macro avg       0.99      0.99      0.99    912126
weighted avg       0.99      0.99      0.99    912126

0.9939832873966974

In [ ]:
#classifier= KNeighborsClassifier(n_neighbors=63,p=2,metric='euclidean')

In [ ]:
#classifier.fit(X_train,y_train)

In [ ]:
#y_pred=classifier.predict(X_test)
#y_pred

In [ ]:
#cm=confusion_matrix(y_test,y_pred)
#cm

In [ ]:
#accuracy=accuracy_score(y_test,y_pred)

In [ ]:
#accuracy_percantage=100*accuracy
#accuracy_percantage

In [ ]:
#print(classification_report(y_test, y_pred))